.sidebar {
    background: #fff;
    width: 317px;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: -317px;
    box-shadow: 0px 1px 2px 0px #1D21261A, 0px 10px 40px 0px #1D212621;
    z-index: 99;
}

.sidebar.open {
    left: 0;
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
